@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');


.addSvg-container {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.add-svg {
  /* transition: 0.2s all; */
  width: 7vh;
  height: auto;
  filter: invert(99%) sepia(41%) saturate(2101%) hue-rotate(321deg) brightness(102%) contrast(100%);
}

.add-svg:hover {
  /* transition: 0.2s all; */
  width: 7vh;
  height: auto;
  filter: invert(52%) sepia(82%) saturate(452%) hue-rotate(1deg) brightness(92%) contrast(97%);
  cursor: pointer;
}

.hide {
  display: none;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1000px){
  .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
  }
}

.card {
  width: 300px;
  height: 500px;
  margin: 25px 15px;
}

.card h4 {
  text-align: center;
  background-color: #9bc4cb;
  margin: 0;
  padding: 15px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin: 0;
}

.card h3 {
  text-align: center;
  background-color: #9bc4cb;
  margin: 0;
  padding: 10px;
}

.card button{
  text-align: center;
  background-color: #9bc4cb;
  margin: 0;
  padding: 10px;
  border:none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width:100%;
  font-size:16px;
  font-weight: bold;
}
.card button:hover{
  cursor:pointer;
  background-color:#6F55FF;
  color:#F5F5F5;
}