.addSvg-container {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.add-svg {
  width: 5%;
  height: auto;
  filter: invert(11%) sepia(4%) saturate(118%) hue-rotate(317deg) brightness(99%) contrast(105%);

}